<section class="projects bg-light bg-gradient text-dark py-5">
    <div class="container">
        <h2 class="text-center mb-5">Portfolio</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card text-start">
                    <img class="card-img-top" src="/src/assets/pic/key.png" alt="Keybord Game">
                    <div class="card-body">
                        <h4 class="card-title">Keybord Game</h4>
                        <p class="card-text">A simple Keybord Game</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-start">
                    <img class="card-img-top" src="/src/assets/pic/cv.png" alt="C.V">
                    <div class="card-body">
                        <h4 class="card-title">C.V</h4>
                        <p class="card-text">Small Portfolio</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-start">
                    <img class="card-img-top" src="/src/assets/pic/tic.png" alt="TIC TAC TOE">
                    <div class="card-body">
                        <h4 class="card-title">TIC TAC TOE</h4>
                        <p class="card-text">TIC TAC TOE Game</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
