<section class="bio bg-dark bg-gradient text-light py-5">
  <div class="container">
      <div class="row text-center mb-4">
          <div class="col">
              <h2>Skills</h2>
              <p>{{Skills}}</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <h3>My Focus</h3>
              <ul class="list-unstyled">
                ---------------------------
                  <li>Mongo DB</li>  
                  <li>UI/UX</li>
                  <li>React</li>
                  <li>Angular</li>
              </ul>
          </div>
          <div class="col-md-8">
              <div class="progress mb-4">
                  <div class="progress-bar bg-black" style="width: 100%;">HTML</div>
              </div>
              <div class="progress mb-4">
                  <div class="progress-bar bg-black" style="width: 100%;">CSS</div>
              </div>
              <div class="progress mb-4">
                  <div class="progress-bar bg-black" style="width: 100%;">Bootstrap</div>
              </div>
              <div class="progress mb-4">
                  <div class="progress-bar bg-gray" style="width: 75%;">JavaScript</div>
              </div>
              <div class="progress mb-4">
                  <div class="progress-bar bg-gray" style="width: 75%;">Mongo DB</div>
              </div>
              <div class="progress mb-4">
                  <div class="progress-bar bg-gray" style="width: 66%;">TypeScript</div>
              </div>
              <div class="progress">
                  <div class="progress-bar bg-gray" style="width: 77%;">Angular</div>
              </div>
          </div>
      </div>
  </div>
</section>
